@import "../core/variables";


.emphasis {
    font-family: monospace;
    color: adjust-color($color: $accent, $lightness: 30, $saturation: 10);
    padding-inline: 0.2rem;
    // text-decoration: underline;
}

main {
    padding-inline: 4rem;
    padding-top: 3rem;


}



.logo-img {
    position: absolute;
    right: 100px;
    top: 400px;
    max-width: 200px;


}

.about-images {
    display: flex;
    max-width: 100vw;
    margin: auto;
    justify-content: center;

    .about-image {
        max-height: 300px;
        // aspect-ratio: 16/15;
        object-fit: cover;

    }

    margin-bottom: 2rem;
}

.card {
    display: flex;
    gap: 1rem;
    background-color: adjust-color($primary, $lightness: -5);
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    &__title {
        font-size: 3rem;
    }

    &__body {
        font-weight: bold;
    }
}

.suraj-solo {


    order: 2;
    box-shadow: 0px 10px 50px rgba($color: #000000, $alpha: 0.25);
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 500px;
    object-fit: cover;
    // transform: translateY(0px);
    transition: all 0.3s ease;
    animation: bounce 1.3s ease-in-out infinite alternate;

    &:hover {
        transform: translateY(-30px);
        box-shadow: 0px 30px 50px rgba($color: #000000, $alpha: 0.5);
    }

    @media (max-width: 767px) {
        max-height: 200px;

    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);

    }

    to {

        transform: translateY(-15px);
    }
}

.our-space {
    h2 {
        margin-top: 1rem;
    }

    ul {
        display: flex;
        gap: 2rem;

        li {
            border: 1px solid $accent;
            padding-inline: 1rem;
            border-radius: 5px;
            transition: padding-inline 0.3s ease;

            &:hover {

                padding-inline: 2rem;

            }
        }
    }
}

@media (max-width: 767px) {
    main {
        padding-inline: 1rem;
    }

    .about-images {


        .about-image {
            max-width: 100px;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .about-image:last-of-type {
            display: none;
        }
    }

    .logo-img {
        padding: 0;
        top: 200px;
        right: 90px;
        position: absolute;
        max-width: 100px;

    }

    .card {
        flex-direction: column;
        padding: 1rem;

        &__title {
            font-size: 2rem;
        }

        &__subtitle {}

    }



    .our-space {
        ul {
            flex-direction: column;
            gap: 1rem;
        }
    }
}