@import '../core/variables';

#classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;

    button {
        padding: 1rem;
        margin-top: 1rem;
    }

    section {
        padding: 1rem;
        border-radius: 15px;
        border: 2px solid $accent;
        display: grid;
        transition: all 0.3s ease;
        transform: translateY(0px);

        &:hover {
            border-radius: 35px;
            transform: translateY(-5px);
        }

    }

}

#studio {

    width: 100vw !important;
    aspect-ratio: 16/9;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.1);
}