@import "../core/variables";

main {
    width: 100%;
    margin: auto;
    justify-content: center;
    padding-inline: 8rem;

    @media (max-width: 767px) {
        padding-inline: 2rem;

    }
}

.whatsapp-icon {
    // aspect-ratio: 1/1;
    // display: inline;
    margin: 0;
    padding: 0;
    // outline: 1px solid lime;
    height: 40px;
    margin-right: -15px;
}

.whatsapp {
    display: flex;
    align-items: center;

    button {
        background-color: #37a545;
        color: white;
        font-weight: bold;
        font-size: inherit;
        font-family: inherit;
        padding: 1rem;
        letter-spacing: 1px;

        &:hover {
            color: black;
            background-color: #48da5b;

        }
    }
}

.contact-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1.5rem;

    h4 {
        line-height: 0;
    }

    // width: 60%;
}

input,
textarea,
select,
button {
    padding: 1rem;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
}

button[type="submit"] {
    &:hover {
        background-color: $accent;
    }
}