---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/pages/_about.scss";
---

<BaseLayout>
  <main>
    <img
      class="logo-img"
      width="300"
      height="300"
      src="/lnf-logo-white.png"
      alt=""
    />
    <div class="about-images">
      <img
        width="400"
        height="400"
        src="/about/lnf-door-blue.JPG"
        alt="lnf door"
        class="about-image"
      />
      <img
        width="400"
        height="400"
        src="/about/lnf-team.webp"
        alt="lnf team"
        class="about-image"
      />
      <img
        width="400"
        height="400"
        src="/about/suraj-couple.JPG"
        alt="lnf door"
        class="about-image"
      />
      <img
        width="400"
        height="400"
        src="/about/suraj-prerna.jpg"
        alt="lnf door"
        class="about-image"
      />
      <img
        width="400"
        height="400"
        src="/about/suraj-teaching.webp"
        alt="lnf door"
        class="about-image"
      />
    </div>
    <h1>About Us</h1>
    <section class="our-story">
      <h2>Our Story</h2>
      <h3>
        Born from passion. <span class="emphasis">Built for people.</span>
      </h3>
      <p>
        Lead & Follow India began with one simple intention — to create a space
        where dance feels like home. <span class="emphasis"
          >Founded by Suraj Verma, a dancer with 17+ years of experience,
          national titles, international training, and a deep love for
          Afro-Latin dance forms, our studio represents growth, learning,
        </span>
        humility, and the beauty of movement. From teaching his first student to
        now hosting one of India’s most loved Afro-Latin festivals — Lead O’Latino
        — the journey has been grounded in discipline, community, and connection.
      </p>
    </section>
    <section class="our-philosophy">
      <h2>Our Philosophy</h2>
      <p>
        We believe dance is not just steps — it’s energy, confidence, and
        expression. <span class="emphasis"
          >Here, you don’t just learn. You evolve.</span
        >
      </p>
    </section>
    <section class="team">
      <h2>Meet the Team</h2>
      <ul class="cards">
        <li class="card">
          <img class="suraj-solo" src="/about/suraj.JPG" alt="Suraj Solo" />
          <div class="card__title">Suraj Verma</div>
          <div class="card__body">
            Founder, Afro-Latin Instructor, Performer
          </div>
        </li>
      </ul>
    </section>
    <section class="our-space">
      <h2>Our Space</h2>
      <p>
        A warm, earthy studio filled with natural light, soft colors, and
        calming energies — designed to help you move freely, learn deeply, and
        feel at peace.
      </p>
      <ul>
        Available for:
        <li><a href="https://wa.me/919958355953">Dance practice</a></li>
        <li><a href="https://wa.me/919958355953">Shoots</a></li>
        <li><a href="https://wa.me/919958355953">Workshops</a></li>
        <li><a href="https://wa.me/919958355953">Rehearsals</a></li>
      </ul>
    </section>
  </main>
</BaseLayout>
