---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/pages/_events.scss";
---

<BaseLayout>
  <main>
    <h1>Our Events for 2026</h1>
    <section id="events-grid">
      <div id="lead">
        <h3 class="title">Lead O’Latino – Season 5</h3>
        <p class="subtitle">India’s Biggest Afro-Latin Dance Festival</p>
        <p class="desc">
          3 days. International artists. Workshops. Battles. Competitions.
          Social dance parties till sunrise. A community of dancers from all
          around the world. Lineup: (Raghav & Genevieve, Paul & Olga, Master
          Lokito, Said & Oksana, Suraj & Sveta, Bazil & Daria, DJs)
        </p>
        <ul>
          <li><a href="#">Workshops Schedule</a></li>
          <li>Competitions</li>
          <li>Parties</li>
          <li>Pricing</li>
          <li>Venue</li>
        </ul>
        <a href="#"><button>Book Your Pass</button></a>
      </div>
      <div id="workshops">
        <h3 class="title">Workshops & Masterclasses</h3>
        <p class="desc">
          We host regular Afro-Latin masterclasses, guest artist workshops, and
          training intensives. Ideal for dancers who want to level up quickly.
        </p>
        <a href="#"><button>See upcoming workshops</button></a>
      </div>
      <div id="socials">
        <h3 class="title">Thursday & Weekend Socials</h3>
        <p class="subtitle">Dance. Connect. Unwind</p>
        <p class="desc">
          A safe and vibrant social dance space where dancers come together to
          practice, meet, and enjoy the music.
        </p>
        <a href="#"><button>Prebook</button></a>
      </div>
    </section>
  </main>
</BaseLayout>
