---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/_tattoo.scss";
---

<BaseLayout>
  <main>
    <h1 id="title">Lead & Follow Tattoo Studio</h1>
    <h3 id="subtitle">Minimal • Nature • Line Art</h3>
    <p id="desc">
      A calm, earthy space for those who want meaningful, timeless tattoos.
    </p>
    <div class="sections">
      <section id="specialise">
        <h4>We specialise in</h4>
        <ul>
          <li>Line Art</li>
          <li>Nature-Inspire Designs</li>
          <li>Middle Eastern Motifs</li>
          <li>Ceramic Tile Patterns</li>
          <li>Wolves, Birds, Albatross-inspired art</li>
          <li>Spiritual and Minimal Tattoo</li>
        </ul>
      </section>
      <section id="why-us">
        <h4>Why Choose Us?</h4>
        <ul>
          <li>Fully hygienic setup</li>
          <li>Original designs</li>
          <li>Custom sketches</li>
          <li>Pain-managed sessions</li>
          <li>Peaceful ambience</li>
        </ul>
      </section>
      <section id="offer">
        <h4><b>Tattoos starting from ₹700</b> — limited slots only.</h4>
        <a href="#"><button>Book Tattoo Appointment</button></a>
      </section>
    </div>
  </main>
</BaseLayout>
