---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/pages/_testimonials.scss";
---

<BaseLayout>
  <h1>Hear what people say about us</h1>
  <div id="testimonials">
      <div class="testi">
        <img src="/suraj-green.jpg" alt="suraj" />
        <h4 class="testi-title">Kanchan Sharma</h4>
        <p class="testi-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam,
          cupiditate.
        </p>
      </div>
      <div class="testi">
        <img src="/suraj-green.jpg" alt="suraj" />
        <h4 class="testi-title">Kanchan Sharma</h4>
        <p class="testi-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam,
          cupiditate.
        </p>
      </div>
      <div class="testi">
        <img src="/suraj-green.jpg" alt="suraj" />
        <h4 class="testi-title">Kanchan Sharma</h4>
        <p class="testi-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam,
          cupiditate.
        </p>
      </div>
  </div>
</BaseLayout>
