*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16pt;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-secondary;
  line-height: 1.6;
  color: $text-dark;
  // font-size: 14pt;
  background-color: $background;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  transition: background-color 0.2s ease;
  border-radius: 0.3rem;

  &:hover {
    color: $text-primary;
    background-color: $primary;
  }
}