// Fluid typography system
@function fluid-size($min, $max, $min-vw: 320, $max-vw: 1200) {
  $slope: calc(($max - $min) / ($max-vw - $min-vw));
  $intersection: calc(-1 * $min-vw * $slope + $min);
  @return clamp(#{$min}rem, #{$intersection}rem + #{$slope * 100}vw, #{$max}rem);
}

h1 {
  font-size: fluid-size(3, 5);
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $space-md;
  color: $text-dark;
}

h2 {
  font-size: fluid-size(2.5, 4.5);
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: $space-md;
  color: $text-dark;
}

h3 {
  font-size: fluid-size(1.9, 3.25);
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: $space-sm;
  color: $text-dark;
}

h4 {
  font-size: fluid-size(1.6, 1.75);
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: $space-sm;
  color: $text-dark;
}

p {
  font-size: fluid-size(1, 1.125);
  margin-bottom: $space-md;
  color: $text-dark;
}

code {
  background: $surface;
  color: $text-dark;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}